.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightCol {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
