.main {
  display: grid;
  grid-template-columns: 33% 1fr;
  gap: 20px;
  padding: 20px;
}

.leftCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rightCol {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
